extends _layouts/base

block config
    - var page = 'homepage'
    - var site = htmlWebpackPlugin.options //global site data

block content
    .main
        .main__box
            .main__content
                .main__block
                    h1.main__title Получайте доход
                    h2.main__subtitle Сдайте свою недвижимость
                    .main__text Мы возьмем на себя все хлопоты, а вы просто будете регулярно получать денежные переводы на свой счет в банке!

    .page__box

        .forwhom
            .forwhom__box
                .forwhom__title Кому это нужно?
                ul.forwhom__list
                    .forwhom__item
                        .card
                            .card__icon
                                +icon({ name: '#airplaine', width: '50px', height: '50px', })
                            .card__content Если вы живете в центре, но не против переехать
                    .forwhom__item
                        .card
                            .card__icon
                                +icon({ name: '#skyscraper', width: '50px', height: '50px', })
                            .card__content Если вы уезжаете за границу на длительный срок
                    .forwhom__item
                        .card
                            .card__icon
                                +icon({ name: '#airplaine', width: '50px', height: '50px', })
                            .card__content Если вы не хотите вникать в суть риэлторства


        .whatisit
            .whatisit__box
                .whatisit__content
                    .whatisit__block
                        h2.whatisit__title Что такое #{domain}?
                        .whatisit__text #{domain} - это сервис, который устраняет лишние<br>хлопоты и помогает решить ваши задачи.

        .include
            .include__box
                h2.include__title Что входит в услуги сервиса?
                .include__subtitle Мы берем на себя все обязанности, связанные<br>с управлением недвижимостью.
                ul.include__list
                    li.include__item
                        .include__icon
                            +icon({ name: '#airplaine', width: '50px', height: '50px', })
                        .include__text Находим<br>клиентов
                    li.include__item
                        .include__icon
                            +icon({ name: '#airplaine', width: '50px', height: '50px', })
                        .include__text Оформляем<br>необходимые документы
                    li.include__item
                        .include__icon
                            +icon({ name: '#airplaine', width: '50px', height: '50px', })
                        .include__text Следим за состоянием<br>объектов
                    li.include__item
                        .include__icon
                            +icon({ name: '#airplaine', width: '50px', height: '50px', })
                        .include__text Улучшаем состояние<br>объектов
                    li.include__item
                        .include__icon
                            +icon({ name: '#airplaine', width: '50px', height: '50px', })
                        .include__text Удовлетворяем запросы<br>арендаторов
                    li.include__item
                        .include__icon
                            +icon({ name: '#airplaine', width: '50px', height: '50px', })
                        .include__text Своевременно делаем<br>выплаты своим клиентам

        .howitworks
            .howitworks__box
                .howitworks__content
                    h2.howitworks__title Как это работает?
                    ul.howitworks__list
                        li.howitworks__item
                            .howitworks__text Вы даете разрешение на управление вашим объектом нашему сотруднику*
                            .howitworks__pin.howitworks__pin_1 1
                        li.howitworks__item
                            .howitworks__pin 2
                            .howitworks__text Мы своевременно выплачиваем вам компенсацию за сдачу объекта.
                    .howitworks__description Разрешение - доверенность, дает полномочия сдавать объект недвижимости от вашего имени.

        .pricedetect
            .pricedetect__box
                .pricedetect__content
                    h2.pricedetect__title Как определяется стоимость объекта недвижимости?
                    .pricedetect__text Для определения стоимости мы пользуемся базой крупнейшего ресурса по аренде недвижимости cian. В автоматическом режиме делается запрос, содержащий данные по вашему объекту, в результате обработки запроса cian выдает нам актуальную стоимость.

        .testimonials
            .testimonials__box
                h2.testimonials__title Отзывы
                ul.testimonials__list
                    li.testimonials__item
                        +testimonial({
                          avatar: 'natalia',
                          name: 'Наталья',
                          date: '07.11.2019, 17:11',
                          text: 'Мы с мужем купили квартиру в Паттайе(Тайланд), но продавать жилье в Москве не хотели, поэтому решили сдать квартиру. Но поняли, что это не просто - надо искать клиентов, проверять что они не разрушили наш дом и вообще, чтоб регулярно платили. Да и приезжать в россию за деньгами не хотелось, поэтому обратились в ' + domain + '. Мы довольны!',
                        })
                    li.testimonials__item
                        +testimonial({
                          avatar: 'maxim',
                          name: 'Максим',
                          date: '04.03.2019, 15:14',
                          text: 'Купил жилье в португалии, живу там по несколько месяцев, пока меня там нет за квартирой присматривает и сдает знакомая, а в россии, пока меня нет всем занимаются ребята из ' + domain + '.',
                        })
                    li.testimonials__item
                        +testimonial({
                          avatar: 'tatiana',
                          name: 'Татьяна',
                          date: '23.04.2019, 16:20',
                          text: 'У меня есть вторая квартира, я пыталась ее сдавать сама, но после первого раза желание отпало! Мне полностью ее уделали за 3 месяца! Я решила не делать ремонт, а обратилась в ' + domain + ', через какое-то время мне показали фотографии квартиры, там сделан ремонт, кое-какая техника появилась. В общем сейчас меня не беспокоит состоние квартиры, потому, что я знаю, что если что-то случится, то ребята из ' + domain + ' все приведут в порядок.',
                        })

                    li.testimonials__item
                        +testimonial({
                          avatar: 'kirill',
                          name: 'Кирилл Липхер',
                          date: '07.05.2019, 11:17',
                          text: 'Живу в бельгии, есть пара объектов в москве, отдал на управление в ' + domain + ', деньги ежемесячно поступают на карту.',
                        })


        .conditions
            .conditions__box
                h2.conditions__title Условия
                ul.conditions__blocks
                    li.conditions__block
                        .condition
                            h3.condition__name Периодически
                            ul.condition__list
                                li.condition__item Срок сдачи: во время отсутствия хозяина
                                li.condition__item Оплата идет только во время съема жилья, с вычетом комисси брокера
                            .condition__price комиссия: 30%
                    li.conditions__block
                        .condition.condition_best
                            h3.condition__name Стандарт
                            ul.condition__list
                                li.condition__item Срок сдачи: от года
                                li.condition__item Оплата идет только во время съема, с вычетом налогов и комисси брокера
                            .condition__price комиссия: 30%
                    li.conditions__block
                        .condition
                            h3.condition__name Посуточно
                            ul.condition__list
                                li.condition__item Производится уборка помещения и подготовка к следующему заезду
                                li.condition__item Оплата идет с вычетом за уборку и комисси брокеру
                            .condition__price комиссия: 30%
                    li.conditions__block
                        .condition
                            h3.condition__name Инвестор
                            ul.condition__list
                                li.condition__item В помещение производится ремонт за счет брокера
                                li.condition__item Брокер осуществляет сдачу на свое усмотрение
                                li.condition__item Оплата идет 50% от стоимости аренды, не зависимо - сдается помещение или нет
                            .condition__price комиссия: 50%


